:root {
  --blue: rgb(37, 54, 144);
  --gray: rgb(57, 57, 57);
}
@font-face {
  font-family: "Cathye";
  src: url(media/Catchye.otf);
}
@font-face {
  font-family: "ChampagneAndLimousines";
  src: url(media/Champagne&Limousines.ttf);
}
body {
  background: url(media/15_FONDO.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--gray);
}
.bg-marbel {
  background: url(media/14_FOTO_MARMOL_AZUL.png) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size: cover;
  background-size: cover;
}
.glitter-band {
  width: 100%;
  height: auto;
  object-fit: cover;
}
header img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 5%;
}
button {
  padding: 10px;
  margin: 20px 0px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail {
  place-items: center;
  place-content: center;
}