:root {
  --blue: rgb(37, 54, 144);
  --gray: rgb(57, 57, 57);
}
@font-face {
  font-family: 'EdwardianScriptITC';
  src: url(media/EdwardianScriptITC.ttf);
}
@font-face {
  font-family: 'CalistoMT';
  src: url(media/CALIST.TTF);
}
@font-face {
  font-family: 'Gabriola';
  src: url(media/Gabriola.ttf);
}
@font-face {
  font-family: 'Cathye';
  src: url(media/Catchye.otf);
}
@font-face {
  font-family: 'ChampagneAndLimousines';
  src: url(media/Champagne&Limousines.ttf);
}
body {
  background: url(media/15_FONDO.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Gabriola';
  color: var(--gray);
}
.bg-marbel {
  background: url(media/14_FOTO_MARMOL_AZUL.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size: cover;
  background-size: cover;
}
.glitter-band {
  width: 100%;
  height: 50px;
  object-fit: cover;
}
.separation-line {
  width: 100%;
}
.line-lotus {
  place-items: center;
  place-content: center;
  padding: 0 5%;
}
.samantha-giselle {
  height: 400px;
  width: auto;
}
h1 {
font-family: 'EdwardianScriptITC';
font-size: 6rem;
color: var(--blue);
}
h2 {
  font-family: 'EdwardianScriptITC';
  font-size: 4rem;
  color: var(--blue);
}
h3 {
font-family:'CalistoMT';
text-transform: uppercase;
letter-spacing: -1px;
font-size: 1.5rem;
}
p {
font-size: 1.8rem;
}
a {
  text-decoration: none;
  font-family: 'ChampagneAndLimousines';
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #FFF;
}
footer {
  margin-bottom: 5%;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  height: 90px;
}
.intro p {
padding: 0 20%;
line-height: 1;
}
.date h2 {
  font-family: 'Cathye';
  font-size: 4rem;
}
#map1, #map2 {
  display: none;
}
.attendance h2 {
  margin-top: 4%;
}
.attendance img {
  margin-bottom: 5px;
}
.itinerary {
  margin: 5% 0 0 0;
}
.itinerary h2 {
  margin-bottom: 5%;
}
.itinerary p {
  font-weight: 300;
}
.time {
  text-align: end;
}
.event {
  text-align: start;
  padding: 0 5%;
  margin-bottom: 50px;
}
.gift-table .icon {
  margin: 0;
}
button {
  font-family: 'ChampagneAndLimousines';
  color: var(--blue);
  font-size: 1.4rem;
  font-weight: 1000;
  width: 100px;
  background-color: #FFF;
  border: none;
  border-radius: 10px;
  transition-property: box-shadow, transform;
  transition-duration: 350ms;
  transition-timing-function: ease;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
}
button:hover {
  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(8px);
}
.btn2 {
  margin-bottom: 5%;
}
.dress-code button {
background-color: var(--blue);
width: 250px;
height: 45px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
/* margin-top: 5%; */
}