:root {
  --blue: rgb(37, 54, 144);
  --gray: rgb(57, 57, 57);
}
body>div {
  overflow-x: hidden;
}
@font-face {
  font-family: 'EdwardianScriptITC';
  src: url(media/EdwardianScriptITC.ttf);
}
@font-face {
  font-family: 'CalistoMT';
  src: url(media/CALIST.TTF);
}
@font-face {
  font-family: 'Gabriola';
  src: url(media/Gabriola.ttf);
}
@font-face {
  font-family: 'Cathye';
  src: url(media/Catchye.otf);
}
@font-face {
  font-family: 'ChampagneAndLimousines';
  src: url(media/Champagne&Limousines.ttf);
}
body {
  background: url(media/15_FONDO.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 16px;
  font-family: 'Gabriola';
  color: var(--gray);
}
.bg-marbel {
  background: url(media/14_FOTO_MARMOL_AZUL.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size: cover;
  background-size: cover;
}
.glitter-band {
  width: 100%;
  height: 50px;
  object-fit: cover;
}
.separation-line {
  width: 100%;
}
.tittle .samantha-giselle, .samantha-giselle {
  height: 488px;
  width: auto;
}
footer .samantha-giselle {
  width: 100%;
  height: auto;
}
h1 {
  font-family: 'EdwardianScriptITC';
  font-size: 7rem;
  color: var(--blue);
}
h2 {
  font-family: 'EdwardianScriptITC';
  font-size: 4.5rem;
  color: var(--blue);
}
h3 {
  font-family:'CalistoMT';
  text-transform: uppercase;
  font-size: 1.5rem;
}
p {
  font-size: 1.8rem;
}
a {
  text-decoration: none;
  font-family: 'ChampagneAndLimousines';
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #FFF;
}
header h3 {
font-size: 2.5rem;
font-weight: 800;
}
.presentation p {
font-size: 2.5rem;
}
.date h2 {
font-family: 'Cathye';
font-size: 4rem;
}
.date p {
font-size: 3rem;
}
.icon {
height: 70px;
}
.celebration h2 {
font-size: 5rem;
}
.intro p {
padding: 0 20%;
line-height: 1;
}
.itinerary {
font-family: 'Gabriola';
}
@media (max-width: 992px) {
  h1 {
  font-size: 3rem;
  }
  h2 {
  font-size: 3.5rem;
  }
  h3 {
  font-size: 0.9rem;
  }
  p {
  font-size: 1.5rem;
  }
  header h3 {
  font-size: 1rem;
  }
    .tittle .samantha-giselle,
    .samantha-giselle {
      height: 388px;
      width: auto;
    }
  .intro p {
  padding: 0 5%;
  }
  .presentation p {
  font-size: 2.1rem;
  }
  .date p {
  font-size: 1.9rem;
  }
  .date h2 {
  font-size: 2.5rem;
  }
  .celebration h2, .dress-code h2 {
  font-size: 3.5rem;
  }
  .reception h2 {
    font-size: 2.5rem;
  }
  .icon {
  height: 55px;
  }
  .gift-table img {
  height: 85px;
  }
  .bg-marbel {
  background: url(media/14_FOTO_MARMOL_AZUL.png) 25%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  .itinerary h3 {
  font-size: 1rem;
  }
}